@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

a{
    text-decoration: none;
}

header h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #EBE645;
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 5vh;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 

}


h3{
    font-size: 10vh;
    text-align: center;
    color: #EBE645;
    padding-top: 100px;
    font-family: 'Merriweather', serif;
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}

.imageTitle{
    background-image: url();
    background-position: center;
    background-size: 90vw;
    background-repeat: no-repeat;
    margin-top: 40px;
    text-shadow: 1px  0px 0px black,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
    width: 90vw;
    height: 22vh;             
}

.centerButton{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;;
}

.centerButton button{
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    border-radius: 20px;
    width: 200px;
}

body{
    background-color: #000957;
    background-image: url('https://media.redadn.es/imagenes/articulos_119378.jpg');
    background-repeat: repeat-y;
    background-size: 100vw;
    image-resolution: 1000px;
}

#presentationMuseum{
    color: #EBE645;
    text-align: center;
}

.mainImage img{
    width: 100%;
    height: 800px;
}

#container h4{
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

#container img{
    width: 500px;
    height: 700px;
    border-radius: 55px;
    margin-top: 20vh;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, rgba(135,82,186,255), rgba(57, 39, 208, 1));
    background: linear-gradient(to right, rgba(57, 39, 208, 1), rgba(135,82,186,255));
    margin: 60px 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container input{
    margin-top: 15px;
}

.droptarget{
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    background: -webkit-linear-gradient(left top, orange , yellow);
    background: linear-gradient(to bottom right, orange, yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    color: #000957;
}

.inputTextEvent{
    border-radius: 20px;
}

.inputTextEvent2{
    border-radius: 20px;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 3s;
}

.animated{
    opacity: 0;
    transition: all 0.5s;
}

.showFromRight{
    animation: showFromRight 1s;
}

@keyframes showFromRight{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}