*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header h1{
    text-align: center;
}

body{
    background-color: #334756;
    background-image: url(https://s1.eestatic.com/2020/12/01/cultura/540206517_166530493_1706x960.jpg);
    image-resolution: 1000px;
}

#container{
    display: grid;
    
}
